.center {
    text-align: center;
}

.center-all {
    align-items: center;
}

.css-container {
    width: 70rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: black 5px 7px 5px;
}

label {
    margin-top: 1rem;
}

body {
    background-color: #a29bfe;
}

a {
    text-decoration: none;
}